/***
 CSS Styles should be implemented from Generic -> Very Specific
**/

// Element Designations (Generic)
body {
    height: 100vh;
    background-color: white;   
}

// Class Designations


// ID Designations (Very Specific)
#map {
    height: 100vh;
}